#cdawrap {
	grid-area: sponsor;
	justify-self: end;
	max-width: 500px;
}

body #cdawrap .cda-sponsor-link {
	white-space: normal !important;
}

body .frame #cdawrap a:not(.frame__title-back):not(.demos__item)::before {
	display: none;
}